node_modules
.DS_Store
dist
*.local
/.idea
yarn.lock
pnpm-lock.yaml
knowledge.MD
packages/utils/http1.ts
packages/controls/form/readMe.MD
packages/pages/localSetting/readMe.MD
packages/controls/dialog/readme.md
packages/controls/checkbox/README.md
packages/controls/radio/README.md
.kiro
.qoder
