{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "endOfLine": "crlf",
  "tabWidth": 2,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "all"
}
